.canvasBox {
    position: relative;
    display: inline-block;
}
.canvasPanel {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
.showPanel {
    position: relative;
    visibility: initial;
}
