.easyfa-canvas-box {
    position: relative;
    display: inline-block;
}
.easyfa-canvas  {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
}
.easyfa-canvas-show {
    position: relative;
    visibility: initial;
}
