.easyfa-canvas-box {
  position: relative;
  display: inline-block;
}
.easyfa-canvas,
.easyfa-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
}
.easyfa-canvas-t,
.easyfa-img-t {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
/* .easyfa-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
} */
.easyfa-canvas-show,
.easyfa-img-show {
  position: relative;
  visibility: initial;
}
.easyfa-canvas-show-t,
.easyfa-img-show-t {
  position: relative;
  opacity: 1;
}
